<% provide("Finito") %>
<div class="center jumbotron">
  <div class="get-down">
    <h1>Where you get stuff done!</h1>

  <h2>
    This is the home page for FINITO
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
<div class="main-content">
  <h1>Organised on time every time</h1>
  <p>Connect with friends and meet up through our online booking chatroom</p>
</div>