<% provide(:title, "About") %>

<h1>About</h1>
<p>
  Finito is an application designed around getting things done. This is done by posting what you are going to achieve and then updating when done. This is social media where you are actually porductive.
</p>

  