<% provide(:title, "Help") %>

<h1>Help</h1>
<div class="help">
  <h3>
    Here is a list of topics that will be added to as the site progresses
  </h3>
  <ul>
    <li><strong>How to change the gravatar:</strong></li>
    <ol>
      <li>Once logged in click on user settings</li>
      <li>Go to avatar "change"</li>
      <li>Once signed up for a free wordpress account you can change your profile picture for a multitude of gravatar sites</li>
    </ol>
  </ul>
</div>
