<footer class="footer">
  <small>
    A site by Ned Pike
  </small>
  <nav id="footer">
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>